<h4>Ajoutez votre propre animal favoris !</h4>
<form #ajoutForm="ngForm" (ngSubmit)="ajoutAnimal(ajoutForm)">
  <div class="form-group">
    <label for="formGroupExampleInput">Nom</label>
    <input type="text" class="form-control" id="nom" placeholder="Chat" [(ngModel)]="nom" name="nom" required>
  </div>
	<select class="custom-select" [(ngModel)]="ordre" name="ordre">
		<option value="Monotrèmes">Monotrèmes</option>
		<option value="Marsupiaux">Marsupiaux</option>
		<option value="Xénarthres">Xénarthres</option>
		<option value="Pholidotes">Pholidotes</option>
		<option value="Insectivores">Insectivores</option>
		<option value="Carnivores">Carnivores</option>
		<option value="Ruminants">Ruminants</option>
		<option value="Lagomorphes">Lagomorphes</option>
		<option value="Chiroptères">Chiroptères</option>
		<option value="Cétacés">Cétacés</option>
	</select>
  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="url" class="form-control" id="image" placeholder="http://placekitten.com/200/300" [(ngModel)]="image" name="image" required>
	</div>
	<button *ngIf="!modeEdition" type="submit" class="btn btn-primary" [disabled]="!ajoutForm.form.valid">Submit</button>
	<!--On met disabled entre crochets car à l'intérieur c'est une variable-->
	<div class="btn-group" *ngIf="modeEdition">
		<button class="btn btn-success" type="submit" [disabled]="!ajoutForm.form.valid">Modifier</button>
		<button class="btn btn-warning" type="submit" [disabled]="!ajoutForm.form.valid">Annuler</button>
	</div>
</form>